<div class="container">
<% current_user.has_role?(:author) ? visitor = "Olá autor" : visitor = "Bem vindo leitor!" %> 
<h5 style="color:red"> <%=visitor%></h5>
<h1>Listing Articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>

  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= truncate(strip_tags(article.text), length: 120) { link_to "Continue", article_path(article) } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Novo artigo', new_article_path, class:"btn btn-primary"  if current_user.has_role? :author%>
</div>