<h1>Listing Articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>

  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= truncate(strip_tags(article.text), length: 120) { link_to "Continue", article_path(article) } %></td>
    </tr>
  <% end %>

<%= link_to 'New article', new_article_path  if user_signed_in?%>
</table>